footer{
	font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
	text-transform: uppercase;
  text-align: center;
   background-color:#FE312C;
   color: #FEFEFE;
   font-size: large;
  text-align: center;
 padding: 40px 0px 40px 0px;
     display: flex;
    justify-content: space-evenly;
}
